{% load static inlinecss %} {% inlinecss "css/email_notif.css" %}
<html lang="en">

<head>
  <title>Purbeurre | Du gras de qualité!</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
</head>

<body style="background: url({{aliment.url}})">
  <!-- begin page body -->
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
          <!-- begin page header -->
          <table class="row header">
            <tr>
              <td class="center" align="center">
                <center>
                  <!-- begin container -->
                  {% comment %}
                  <table class="container">
                    <tr>
                      <td class="wrapper">
                        <!-- begin six columns -->
                        <table class="six columns">
                          <tr>
                            <td>
                              <!-- <a href="index.html"><img src="../assets/img/logo/logo-admin.png" height="20px" /></a> -->
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                        <!-- end six columns -->
                      </td>
                      <td class="wrapper">
                        <!-- begin six columns -->
                        <table class="six columns">
                          <tr>
                            <td class="text-right valign-middle">
                              <span class="template-label">Fiche aliment purbeurre</span>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                        <!-- end six columns -->
                      </td>
                    </tr>
                  </table>
                  {% endcomment %}
                  <!-- end container -->
                </center>
              </td>
            </tr>
          </table>
          <!-- end page header -->
          <!-- begin page container -->
          <table class="container content dark-theme">
            <tr>
              <td>
                <!-- begin row -->
                <table class="row">
                  <tr>
                    <!-- begin wrapper -->
                    <td class="wrapper">
                      <table class="twelve columns">
                        <tr>
                          <td class="last">
                            <h4>
                              Voici les informations concernant votre aliment:
                            </h4>
                            <h2>{{aliment.name}}</h2>
                            {% comment %}
                            <p class="m-b-5">
                              Pour plus d'informations, cliquez sur le liens
                              suivant:
                            </p>
                            {% endcomment %}
                          </td>
                        </tr>
                        <tr>
                          <td class="panel">
                            <img class="img-thumbnail" src="{{aliment.image}}" style="
                                  border-style: solid;
                                  width: 160px;
                                  height: 160px;
                                  border-width: 5px 5px 5px 5px;
                                  -moz-border-image: url() 20 5 5 5 repeat
                                    repeat;
                                  -webkit-border-image: url() 20 5 5 5 repeat
                                    repeat;
                                  -o-border-image: url() 20 5 5 5 repeat repeat;
                                  border-image: url() 20 5 5 5 repeat repeat;
                                " } />
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="{{aliment.url}}">{{aliment.url}}</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <!-- end wrapper -->
                  </tr>
                </table>
                <!-- end row -->
                <!-- begin divider -->
                <table class="divider"></table>
                <!-- end divider -->
                <!-- begin row -->
                <table class="row">
                  <tr>
                    <!-- begin wrapper -->
                    <td class="wrapper">
                      <!-- begin twelve columns -->
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h6 class="text-left text-white">
                              <strong>Date de l'information:</strong> {{date}}
                            </h6>
                            <h6 class="text-left text-white">
                              <strong>Marque :</strong> {{ aliment.brands }}
                            </h6>
                            <h6 class="text-left text-white">
                              <strong>Portions :</strong> {{ aliment.quantity }}
                            </h6>
                            <h6 class="text-left text-white">
                              <strong>Distributeurs :</strong> {{aliment.brands }}
                            </h6>
                            <h6 class="text-left text-white">
                              <strong>Ingrédients :</strong> {{aliment.ingredients_fr }}
                            </h6>
                            <h6 class="text-left text-white">
                              <strong>Emballage:</strong> {{ aliment.packaging }}
                            </h6>
                            <h6 class="text-left text-white">
                              <strong>Pays fournisseur :</strong> {{aliment.manufactured_places }}
                            </h6>
                            <h6 class="text-left text-white">
                              <strong>Code produit :</strong> {{ aliment.code}}
                            </h6>
                            <h6 class="text-left text-white">
                              <strong>Provenance de l'information :</strong>
                              {{ aliment.purchase_places }}
                            </h6>
                          </td>
                        </tr>
                      </table>
                      <!-- end twelve columns -->
                      <p>
                        <i>This ia a system generated email and reply is not
                          required.</i>
                      </p>
                    </td>
                    <!-- end wrapper -->
                  </tr>
                </table>
                <!-- end row -->
              </td>
            </tr>
          </table>
          <!-- end page container -->
          <!-- begin page footer -->
          <table class="row footer">
            <tr>
              <td class="center" align="center">
                <center>
                  <!-- begin container -->
                  <table class="container">
                    <tr>
                      <td class="wrapper">
                        <table class="six columns">
                          <tr>
                            <td>
                              &copy; Purbeurre 2020.
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                      <td class="wrapper">
                        <table class="six columns">
                          <tr>
                            <td class="wrapper text-right valign-middle">
                              <a href="javascript:;">Nous contacter</a> &nbsp;
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- end container -->
                </center>
              </td>
            </tr>
          </table>
          <!-- end page footer -->
        </center>
      </td>
    </tr>
  </table>
  <!-- end page body -->
</body>

</html>
{% endinlinecss %}
